<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Login form</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
</head>
<body>
    <form action="#" th:action="@{/login}" th:object="${user}" method="post">
        <h1>Direct</h1>

        <fieldset>
            <legend><span class="number">1</span>Log in as Admin</legend>

            <label for="name">User:</label>
            <input type="text" id="name" th:field="*{name}" name="user_name" />

            <label for="password">Password:</label>
            <input type="password" th:field="*{password}" id="password" name="user_password" />
        </fieldset>

        <button type="submit">Enter</button>
    </form>
</body>
</html>
